[Unit]
Description=Raspberry Pi Thermostat
After=network.target

[Service]
ExecStart=/usr/local/bin/rpi-thermostat
WorkingDirectory=/usr/local/rpi-thermostat/
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
