<!DOCTYPE html>
<html lang="en" ng-app="thermostat">
<head>
	<title>Thermostat Control</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="/thermostat.png" sizes="192x192">
</head>
<body> 
	<div ng-controller="ThermostatCtrl">
		<div class="container-fluid" style="width:240px">
			<div>
				<p><h1>{{state.current / 10.0}} ({{state.desired}})</h1></p>
				<p>power: {{state.power }}</p>
			</div>

			<div>
				<button class="btn btn-default btn-lg" ng-click="changeDesired(1)">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<button class="btn btn-default btn-lg" ng-click="changeDesired(-1)">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>

			<div style="margin-top:10px">
				<div>System</div>
				<div class="btn-group" role="group">
					<button ng-class="{'active': state.sysmode == 'off'}" class="btn btn-default btn-lg" ng-click="setSystemMode('off')">Off</button>
					<button ng-class="{'active': state.sysmode == 'heat'}" class="btn btn-default btn-lg" ng-click="setSystemMode('heat')">Heat</button>
				</div>
			</div>
		</div>
	</div>

	<div id="line-chart" ng-controller="LineCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">Line Chart</div>
			<div class="panel-body">
				<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
					chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride"></canvas>
			</div>
		</div>
	</div>
</body>

<script src="/js/angular.min.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script src="/js/Chart.bundle.min.js"></script>
<script src="/js/angular-chart.min.js"></script>

<script type="text/javascript">
	var app = angular.module("thermostat", ["ngResource", "chart.js"]);
	app.controller("ThermostatCtrl", ["$scope", "$resource", "$interval", function ($scope, $resource, $interval) {
		$interval(function(){
			var State = $resource(window.location.protocol + "//" + window.location.host + "/api/", {}, {query: {isArray: false}});
			$scope.state = State.query();
		},10000);

		var State = $resource(window.location.protocol + "//" + window.location.host + "/api/", {}, {query: {isArray: false}});
		$scope.state = State.query();
	
		$scope.setSystemMode = function(mode) {
			$scope.state.sysmode = mode
			console.log($scope.state.$save());
		}
	
		$scope.changeDesired = function(change) {
			$scope.state.desired = $scope.state.desired + change;
			$scope.state.$save();
		}
	}]);
	
	app.controller("LineCtrl", ["$scope", function ($scope) {

	  $scope.labels = ["January", "February", "March", "April", "May", "June", "July"];
	  $scope.series = ['Series A', 'Series B'];
	  $scope.data = [
	    [65, 59, 80, 81, 56, 55, 40],
	    [28, 48, 40, 19, 86, 27, 90]
	  ];
	  $scope.onClick = function (points, evt) {
	    console.log(points, evt);
	  };
	  $scope.datasetOverride = [{ yAxisID: 'y-axis-1' }, { yAxisID: 'y-axis-2' }];
	  $scope.options = {
	    scales: {
	      yAxes: [
	        {
	          id: 'y-axis-1',
	          type: 'linear',
	          display: true,
	          position: 'left'
	        },
	        {
	          id: 'y-axis-2',
	          type: 'linear',
	          display: true,
	          position: 'right'
	        }
	      ]
	    }
	  };
	}]);


</script>

</html>
